{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@/components/(.*)$",
    "@/styles/(.*)$",
    "@/utils/constants",
    "@/utils/hooks/(.*)$",
    "@/utils/lib/@types/(.*)$",
    "@/utils/lib/actions/(.*)$",
    "@/utils/lib/helpers/(.*)$",
    "@/utils/lib/validators/(.*)$",
    "@/utils/lib/services/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
